html, body, div, label, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, p, blockquote, th, td ,img,textarea{border: 0px;margin: 0px;outline: 0px;padding: 0px;}

.lighter
{
  font-weight: lighter;
}

.bolder
{
  font-weight: bolder;
}

.inline
{
  display: inline-block!important;
}

.block
{
  display: block!important;
}

.center,.align-center
{
  text-align: center!important;
}

.align-left
{
  text-align: left!important;
}

.align-right
{
  text-align: right!important;
}

.middle
{
  vertical-align: middle;
}

.align-middle
{
  vertical-align: middle!important;
}

.align-top
{
  vertical-align: top!important;
}

.align-bottom
{
  vertical-align: bottom!important;
}


.dark
{
  color: #333!important;
}

.white
{
  color: #fff!important;
}

.red
{
  color: #dd5a43!important;
}

.light-red
{
  color: #f77!important;
}

.blue
{
  color: #478fca!important;
}

.light-blue
{
  color: #93cbf9!important;
}

.green
{
  color: #69aa46!important;
}

.light-green
{
  color: #b0d877!important;
}

.orange
{
  color: #ff892a!important;
}

.light-orange
{
  color: #fcac6f!important;
}

.orange2
{
  color: #feb902!important;
}

.purple
{
  color: #a069c3!important;
}

.pink
{
  color: #c6699f!important;
}

.pink2
{
  color: #d6487e!important;
}

.brown
{
  color: #a52a2a!important;
}

.grey
{
  color: #777!important;
}

.light-grey
{
  color: #bbb!important;
}


.login-container
{
  width: 500px;
  margin: 0 auto;
}
.login-container .center{ margin-top:40px;}
.login-layout
{
background-color:#1c77ac; background-image:url(../images/light.png); background-repeat:no-repeat; background-position:center top; overflow:hidden;
}
.login-layout .input-icon>[class*="icon-"] { line-height:32px;}
.login-layout input{ margin-left:0px;}
.login-layout .logintop{height:47px; position:absolute; top:0; background: url(../images/loginbg1.png) repeat-x; z-index:100; width:100%;}
.login-layout .logintop span{color:#fff; line-height:47px; background:url(../images/loginsj.png) no-repeat 21px 18px; text-indent:44px; color:#afc5d2; float:left;}
.login-layout .logintop ul{float:right; padding-right:30px;}
.login-layout .logintop ul li{float:left; margin-left:20px; line-height:47px;}
.login-layout .logintop ul li a{color:#afc5d2;}
.login-layout .logintop ul li a:hover{color:#fff;}
.login-layout .login-layout .main-container:after{ display: none;}
.login-layout .loginbm{height:50px; line-height:50px; text-align:center; background:url(../images/loginbg2.png) repeat-x;position:absolute; bottom:0; width:100%; color:#0b3a58; font-size: 13px;}
.login-layout  .loginbm a{font-weight:bold;color:#0b3a58;}
.login-layout  .loginbm a:hover{color:#fff;}
.login-layout .loginbody{background:url(../images/loginbg3.png) no-repeat center center; width:100%; height:585px; overflow:hidden; position:absolute; top:47px;}
.login-layout .main-content
{
  margin-left: 0;
  min-height: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.login-layout .widget-box
{
  visibility: hidden;
  border-right:0px;
  overflow: hidden;
  width: 100%;
  border-bottom: 0;
  box-shadow: none;
  padding: 6px;
  background-color: #1C77AC;
  -moz-transform: scale(0,1) translate(-150px);
  -webkit-transform: scale(0,1) translate(-150px);
  -o-transform: scale(0,1) translate(-150px);
  -ms-transform: scale(0,1) translate(-150px);
  transform: scale(0,1) translate(-150px);
}
.login-layout .login_icon{ float:left; width:150px;}
.login-layout .widget-box.visible
{
  visibility: visible;
  -moz-transform: scale(1,1) translate(0);
  -webkit-transform: scale(1,1) translate(0);
  -o-transform: scale(1,1) translate(0);
  -ms-transform: scale(1,1) translate(0);
  transform: scale(1,1) translate(0);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -o-transition: none;
  -webkit-transition: none;
}

.login-layout .widget-box .widget-main
{
  padding: 16px 36px 36px;
  background: #f7f7f7;
}

.login-layout .widget-box .widget-main form
{
  margin: 0;
}

.login-layout .widget-box .widget-main .header
{
  border-bottom-color: #d5e3ef;
  font-size: 19px;
  line-height: 28px;
  margin-bottom: 16px;
  margin-top: 18px;
  padding-bottom: 4px;
  border-bottom: 1px solid #ccc;
  color: #478fca!important;
  font-weight: lighter;
}

.login-layout .widget-box .widget-body .toolbar>div>a
{
  font-size: 15px;
  font-weight: 400;
  text-shadow: 1px 0 1px rgba(0,0,0,0.25);
}

.login-box label
{
  margin-bottom: 11px;
}

.login-box .forgot-password-link
{
  color: #FE9;
}

.login-box .user-signup-link
{
  color: #CF7;
}

.login-box .toolbar
{
  background: #5090c1;
  border-top: 2px solid #597597;
}

.login-box .toolbar>div
{
  width: 50%;
  display: inline-block;
  padding: 9px 0 11px;
}

.login-box .toolbar>div:first-child
{
  float: left;
  text-align: left;
}

.login-box .toolbar>div:first-child>a
{
  margin-left: 11px;
}

.login-box .toolbar>div:first-child+div
{
  float: right;
  text-align: right;
}

.login-box .toolbar>div:first-child+div>a
{
  margin-right: 11px;
}

.forgot-box .toolbar
{
  background: #c16050;
  border-top: 2px solid #976559;
  padding: 9px 18px;
}

.signup-box .toolbar
{
  background: #76b774;
  border-top: 2px solid #759759;
  padding: 9px 18px;
}

.forgot-box .back-to-login-link,.signup-box .back-to-login-link
{
  color: #FE9;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 1px 0 1px rgba(0,0,0,0.25);
}

.login-layout .login-box .widget-main
{
  padding-bottom: 16px;
}

.login-box .social-or-login
{
  margin-top: 4px;
  position: relative;
  z-index: 1;
}

.login-box .social-or-login :first-child
{
  display: inline-block;
  background: #f7f7f7;
  padding: 0 8px;
  color: #5090c1;
  font-size: 13px;
}

.login-box .social-or-login:before
{
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;
  right: 0;
  border-top: 1px dotted #a6c4db;
}

.login-box .social-login
{
  margin-top: 12px;
}

.login-box .social-login a
{
  border-radius: 100%;
  width: 42px;
  height: 42px;
  line-height: 46px;
  padding: 0;
  margin: 0 1px;
  border: 0;
}

.login-box .social-login a>[class*="icon-"]
{
  font-size: 24px;
  margin: 0;
}

@media only screen and (max-width:480px)
{
  .login-layout .widget-box .widget-main
  {
    padding: 16px;
  }
}

@media only screen and (max-width:480px)
{
  .login-container
  {
    width: 98%;
  }

  .login-layout .widget-box
  {
    padding: 0;
  }

  .login-box .toolbar>div
  {
    width: auto;
  }
}

@media only screen and (max-width:767px)
{
  .login-layout .widget-box.visible
  {
    -webkit-transition: none;
    transition: none;
  }
}